.test {
    color: red;
    text-align: center;
    font-size: 3em;
}


.hclass {
text-align: center;
font-size: 24pt;
color: blue;
margin: 10px;
}

.main {
border-style: solid;
border-width: 10px;
font-size: 18pt;
text-align: center;
border-color: gold;
}

#pointTotal {
    color: red;
    font-size: 20pt;
    text-align: center;
   font-weight: bold;


}

.smallHeader {
    text-align: center;

}
.pBox {
    border-style: dotted;
    border-width: 5px;
    border-color: aqua;
    margin: 4px;
padding: 8px;


}

#score {
color: lime;
font-weight: 600;
font-size: 18pt;
border-style: double;
border-color: blueviolet;
border-width: 6px;



}


#winsLoses {
font-size: 18pt;
padding: 5x;
}

#crystalOne {
    float: left;


}
#crystalTwo {
    float: left;
    size: 1in;
}

#crystalThree {
    float: left;
    size: 1in;

}

#crystalfour {
    float: left;
    size: 1in;
    
}
